@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.cdnfonts.com/css/the-scientist");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #2193b0;
  background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);
  background: linear-gradient(to bottom, #6dd5ed, #2193b0);
  background-repeat: no-repeat;
}

.backgroundNav {
  background: #2193b0;
  background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);
  background: linear-gradient(to bottom, #6dd5ed, #2193b0);
  background-repeat: no-repeat;
}

@media screen and (min-width: 720px) {
  .backgroundNav {
    background: transparent;
  }
}

.inactiveIcon {
  @apply w-6 h-6;
}
.activeIcon {
  @apply w-6 h-6 text-text-generation;
}

table.basic {
  @apply w-full;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-2 py-2 mb-2;
}

table.basic tbody tr td {
  @apply pl-3 text-sm  pt-1;
}
